<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>RethinkDB CRUD</title>
    <script type="text/javascript" src="/js/libs/axios/axios.min.js"></script>
  </head>
  <body>

  </body>
</html>
